#navbar {
    background-color: whitesmoke;
    margin-top: 1px;
    margin-left: -14px;
    margin-right: -14px;
    border: solid #FBDA94;
    border-width: 0px 0px 10px 0px;
    box-shadow: 0px -1px 3px grey;
}

#navbar-checkout{
    background-color: whitesmoke;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border: solid #FBDA94;
    border-width: 0px 0px 10px 0px;
}
#navbar-account{
    background: transparent linear-gradient(to bottom, white, whitesmoke) repeat scroll 50% 50%;
  
}
#top_page{
    background-color: black;
    margin-top: 1px;
    margin-left: -14px;
    margin-right: -14px;
    box-shadow: 2px 2px 5px grey;
}

#navbar-right{
    font-size:18px;
    margin: 0px 0px 1px 1px;
  
}
#dropdown-toggle{
   background-color: whitesmoke;
   position:relative;
   color: black;
   padding: 20px;
   font-size:15px;
   font-weight:100;
}
#dropdown-menu{
  background-color: whitesmoke;
  font-size: 15px;
  margin-top: -1px;
  margin-right: 1px;
  padding: 10px 10px 10px 0px;
}

/* Show the dropdown menu on hover */
#browse:hover #dropdown-menu {
    display: block;
}