#navbar {
    background-color: #47C2AE;
    margin-top: 1px;
    margin-left: -14px;
    margin-right: -14px;
    border: solid #FBDA94;
    border-width: 0px 0px 10px 0px;
}

#navbar-checkout{
    background-color: #47C2AE;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    border: solid #FBDA94;
    border-width: 0px 0px 10px 0px;
}