{% load i18n %}
{% load staticfiles %}
<head>
<link rel="stylesheet" href="{% static 'search.css' %}">
</head>

<form method="get" action="{% url 'search:search' %}" class="navbar-form navbar-right">
    <div  class="form-group">
        {{ search_form.q }}
    </div>
    
    <input id="btn-search" type="submit" value="{% trans "Search" %}" class="btn btn-search"></input>
</form>

<form method="post" action="{% url 'image_search:image_search' %}" class="navbar-form navbar-right" id="img_search" enctype="multipart/form-data">
    {% csrf_token %}
    <label  for="file">Search Image</label>
    <input type="file" name="file" id="file" onchange="img_search.submit();" class="btn btn-default" />
</form>

